# Чаще всего не нужны для билда
__pycache__/
*.pyc
*.pyo

# Если используете локальные виртуальные окружения (venv, .venv)
venv/
.venv/

# Локальные редакторские/IDE-директории
.idea/
.vscode/

# Локальные файлы зависимостей, если не хотите их копировать
uid.lock
#uv.lock

# Файл с переменными окружения (если вы не хотите, чтобы .env попадал в образ)
.env

# Логи, temp-файлы и т. д.
*.log
*.tmp

# Git-каталог
.git
